body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#menu, #content{
  max-width: 1440px;
  padding: 30px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#form-wrapper{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

#drinks, #burgers{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#userForm{
  gap: 30px;
  width: 100%;
}

h2{
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}